<ul class="nav-category">
<li><a href="{{ site.url }}{{ site.baseurl }}blog/latest">latest</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}blog/releases">releases</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}blog/announcements">announcements</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}blog/thoughts">thoughts</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}blog/tutorials">tutorials</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}blog">all</a></li>
</ul>