<ul class="nav-category">
<li class="{% if page.pagination.category == latest %} active {% endif %}"><a href="/blog">latest</a></li>
<li class="{% if page.pagination.category == news %} active {% endif %}"><a href="/blog/news">news</a></li>
<li class="{% if page.pagination.category == engineering %} active {% endif %}"><a href="/blog/engineering">engineering</a></li>
<li class="{% if page.pagination.category == ecosystem %} active {% endif %}"><a href="/blog/ecosystem">ecosystem</a></li>
<li class="{% if page.pagination.category == announcements %} active {% endif %}"><a href="/blog/announcements">announcements</a></li>
<li class="{% if page.pagination.category == wott_news %} active {% endif %}"><a href="/blog/wott_news">wott news</a></li>
</ul>