<div class="inner-content">
<div class="info_docs">
<span class="t_hm">introduction</span>
<span class="t_i1">{{ page.title }}</span>
<span class="t_m2">{{ page.full_description }}</span>
</div>

<div class="white_shadow_block docs_icon_menu">
<div class="icon_info">
<a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started" class="info_block"><div class="icon" style="background-image:url({{ site.url }}{{ site.baseurl }}assets/style/img/startup-3.svg);"></div><span class="t_m1">Getting Started</span><span class="t_m2">Transparency, peer audit and crowdsourced vulnerability reporting are the future.</span></a>
<a href="{{ site.url }}{{ site.baseurl }}documentation/setup" class="info_block"><div class="icon" style="background-image:url({{ site.url }}{{ site.baseurl }}assets/style/img/settings_87590.svg);"></div><span class="t_m1">Setup</span><span class="t_m2">Security belongs directly in the device not just on the users’ network.</span></a>
<a href="{{ site.url }}{{ site.baseurl }}documentation/faq" class="info_block"><div class="icon" style="background-image:url({{ site.url }}{{ site.baseurl }}assets/style/img/help.svg);"></div><span class="t_m1">Faq</span><span class="t_m2">The cheapest and most efficient way to include security is during development</span></a>
<a href="{{ site.url }}{{ site.baseurl }}documentation/get_support" class="info_block"><div class="icon" style="background-image:url({{ site.url }}{{ site.baseurl }}assets/style/img/support-2.svg);"></div><span class="t_m1">Get Support</span><span class="t_m2">Networks are not impenetrable. Perimeter security is a false sense of security.</span></a>
</div>
</div>

<div class="info_docs">
<span class="t_m1">{{ page.title_content }}</span>
<span class="t_m2">{{ content }}</span>
</div>

</div>