	<div class="inner_block">
	<span class="title">Documentation</span>
	<ul class="global_nav">
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting-started">Getting Started</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/use-cases">Use Cases</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/faq">Frequently Asked Questions</a></li>
	<li><a href="https://www.raspberrypi.org/forums/viewtopic.php?f=41&t=243538" target="_blank">Get Support</a></li>
	</ul>
	</div>
	
	<div class="inner_block" id="mobile_page_site_menu">
	<span class="title">Site pages</span>
	<ul class="global_nav">
	<li><a href="{{ site.url }}{{ site.baseurl }}product" title="">Product</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}about" title="">About us</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}pricing" title="">Pricing</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation" title="">Documentation</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}blog" title="">Blog</a></li>
	</ul>
	</div>

	<!--
	<div class="inner_block">
	<ul class="slider_nav" data-name-nav="Getting Started" id="getting_started">
	<li class="name"><a href="#getting_started" >Getting Started</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	</ul>
	</div>
	-->
