	<div class="inner_block">
	<span class="title">Documentation</span>
	<ul class="global_nav">
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting-started">Getting Started</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/use-cases">Use-cases</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/faq">Frequently Asked Questions</a></li>
	<li><a href="https://www.raspberrypi.org/forums/viewtopic.php?f=41&t=243538">Get Support</a></li>
	</ul>
	</div>
	<div class="inner_block">
	<ul class="slider_nav" data-name-nav="Getting Started" id="getting_started">
	<li class="name"><a href="#getting_started" >Getting Started</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	</ul>
	</div>
	<div class="inner_block">
	<ul class="slider_nav" data-name-nav="Use-cases" id="use-cases">
	<li class="name"><a href="#setup" >Use-cases</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	</ul>
	</div>	<div class="inner_block">
	<ul class="slider_nav" data-name-nav="Frequently Asked Questions" id="faq">
	<li class="name"><a href="#faq" >Frequently Asked Questions</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	</ul>
	</div>	<div class="inner_block">
	<ul class="slider_nav" data-name-nav="Get Support" id="get_support">
	<li class="name"><a href="#get_support" >Get Support</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Sections and outlines in HTML5</a></li>
	</ul>
	</div>