<footer class="b_footer">
<div class="top">
<div class="logo_sn">
<a class="logo" href="{{ site.url }}{{ site.baseurl }}" title="Home page"></a>
<ul class="nw">
<li style="background-image:url(/assets/style/img/facebook.svg);"><a href="" title="" target="_blank"></a></li>
<li style="background-image:url(/assets/style/img/github.svg);"><a href="" title="" target="_blank"></a></li>
<li style="background-image:url(/assets/style/img/twitter.svg);"><a href="" title="" target="_blank"></a></li>
<li style="background-image:url(/assets/style/img/linkedin.svg);"><a href="" title="" target="_blank"></a></li>
</ul>
</div>
<div class="menu products"><ul>
<li><a href="" title="">products</a></li>
<li><a href="" title="">Authentication</a></li>
<li><a href="" title="">Free SSL for IoT</a></li>
<li><a href="" title="">Credential Managment for IoT</a></li>
<li><a href="" title="">Encryption</a></li>
<li><a href="" title="">Monitoring</a></li>
</ul></div>
<div class="menu about_us"><ul>
<li><a href="" title="">about us</a></li>
<li><a href="" title="">pricing</a></li>
<li><a href="" title="">documentation</a></li>
<li><a href="" title="">blog</a></li>
</ul></div>
<div class="menu news"><ul>
<li><a href="" title="">lastest news</a></li>
{% for post in site.posts limit:3 %}
 <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul></div>
</div>

<div class="bottom">
<ul>
<li>&copy; 2019 by WOTT.io All rights reserved</li>
<li><a href="" title="">Terms of service</a></li>
<li><a href="" title="">Privacy Policy</a></li>
</ul>
</div>
</footer>