<div class="head_nav">

<a class="logo" href="{{ site.url }}{{ site.baseurl }}" title="Home page"></a>

<ul class="nav_m">
<li><a href="{{ site.url }}{{ site.baseurl }}product" title="">product</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}about" title="">about us</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}pricing" title="">pricing</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}documentation" title="">documentation</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}blog" title="">blog</a></li>
</ul>

<div class="ls_button">
<a class="log_in">log in</a>
<a class="sign_up">sign up</a>
</div>

</div>