<div class="head_nav" data-open-menu="0">
<a class="mobile_menu_button"></a>
<a class="logo" href="{{ site.url }}{{ site.baseurl }}" title="Home page"></a>

<ul class="nav_m">
<li><a href="{{ site.url }}{{ site.baseurl }}product" title="">product</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}about" title="">about us</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}pricing" title="">pricing</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}documentation" title="">documentation</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}blog" title="">blog</a></li>
</ul>

<div class="ls_button">
<a class="log_in" href="https://dash.wott.io/accounts/login" ga-clv="1" ga-track-name="Log In">log in</a>
<a class="sign_up" href="https://dash.wott.io/accounts/register/" ga-clv="1" ga-track-name="Sign Up">sign up</a>
</div>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '625551821523223');
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1"
src="https://www.facebook.com/tr?id=605130316291227&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

</div>
