  <div class="post">
  <div class="post_img" style='background-image:url({% asset blogcover/"{{ post.cover }}" srcset:width="800 2x" srcset:width="400 1x" @path %});'></div>
  <div class="post_prewinfo">
  <span class="category_name">{{ post.category }}</span>
  <a class="title" href="{{ site.url }}{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }}</a>
  <span class="author_time">By <a>{{ post.author }}</a> on {{ post.date | date: '%B' }} {{ post.date | date: '%d' }}, {{ post.date | date: '%Y' }}</span>
  <span class="description">
  {% if post.description %} {{ post.description | strip_html | truncatewords: 52 }} {% else %} {{ post.content | strip_html | truncatewords: 52 }} {% endif %}</span>
  <a class="read_full" href="{{ site.url }}{{ site.baseurl }}{{ post.url | remove_first: '/' }}">Continue reading </a>
  </div>
  </div>

