---
layout: default
current: category
cover: false
class: 'category-template'
navigation: True
---
<div class="blog_posts">
<span class="t_h1">WoTT IoT Blog</span>
<span class="t_h2">Musings, thoughts, ideas, releases on security for the internet of things</span>
{% if paginator.total_posts > 0 %}

{% for post in paginator.posts %}

{% include category-list-item.html %}

{% if forloop.index == 1 %}  {% include category-navigation.html %} <div class="post_mini-blocks"> {% endif %}

{% endfor %}
</div>

{% include pagination.html %}
{% else %}
{% include category-navigation.html %}
<br>No articles found.
{% endif %}
<div class="blue_block_subscribe">
<div class="block_inner"><div class="vertical_aligner">
<span class="t_m1">Subscribe to our newsletter</span>
</div></div>
<div class="block_inner">
<form class="vertical_aligner"  action="{{site.mailchimp-list}}" method="post">
<input type="email" id="mce-EMAIL" name="EMAIL" value="" placeholder="Your email address"/>
<button type="submit" id="submit" name="subscribe">submit</button>
</form>
</div>
</div>

</div>