---
layout: default
current: category
cover: false
class: 'category-template'
navigation: True
---
<div class="blog_posts">
<span class="t_h1">WoTT IOT Blog</span>
<span class="t_h2">WoTT is a free, automated, open-source public key infrastructure for connected hardware</span>

{% for post in paginator.posts %}

{% include category-list-item.html %}

{% if forloop.index == 1 %} {% include category-navigation.html %} {% endif %}

{% endfor %}

{% include pagination.html %}
</div>