<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% include dynamic_title.html %}
    <title>{% if title %}{{ title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include head.html %}
</head>
<body class="body_docs">
	<div class="search_block"><form action="" method=""><input type="text" name="string" value="" placeholder="Search for any article or any questions"/><button type="submit">search</button></form></div>
	<div class="left_block"><div class="inner_block"><a class="logo_version" href="{{ site.url }}{{ site.baseurl }}"><span class="logo"></span><span class="version">Version 1.2</span></a></div>{% include documentation_nav_left.html %}</div>
    <div class="b_content docs_content">
    {{ content }}
	</div>
    <script  src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    {% include analytics.html %}
</body>
</html>
