---
layout: default
current: docs
class: documentation-template
---
<div class="documentation-template">
<span class="t_h1">Documentation</span>
<span class="t_h2">A developer first solution to manage certificates and credentials, and find vulnerabilities in your build</span>

<div class="white_shadow_block docs_icon_menu">
<div class="icon_info">
<a href="{{ site.url }}{{ site.baseurl }}documentation/getting-started" class="info_block" target="_blank"><div class="icon" style="background-image:url({{ site.url }}{{ site.baseurl }}assets/style/img/startup-3.svg);"></div><span class="t_m1">Getting Started</span><span class="t_m2">Transparency, peer audit and crowdsourced vulnerability reporting are the future.</span></a>
<a href="{{ site.url }}{{ site.baseurl }}documentation/use-cases" class="info_block"><div class="icon" style="background-image:url({{ site.url }}{{ site.baseurl }}assets/style/img/settings_87590.svg);"></div><span class="t_m1">Setup</span><span class="t_m2">Security belongs directly in the device not just on the users’ network.</span></a>
<a href="{{ site.url }}{{ site.baseurl }}documentation/faq" class="info_block"><div class="icon" style="background-image:url({{ site.url }}{{ site.baseurl }}assets/style/img/help.svg);"></div><span class="t_m1">Faq</span><span class="t_m2">The cheapest and most efficient way to include security is during development</span></a>
<a href="https://www.raspberrypi.org/forums/viewtopic.php?f=41&t=243538" class="info_block" target="_blank"><div class="icon" style="background-image:url({{ site.url }}{{ site.baseurl }}assets/style/img/support-2.svg);"></div><span class="t_m1">Get Support</span><span class="t_m2">Networks are not impenetrable. Perimeter security is a false sense of security.</span></a>
</div>
</div>

<div class="precatalog_block">
<div class="innerblock" style="background-image:url({{ site.url }}{{ site.baseurl }}assets/style/img/smartphone-3.svg);"><div class="info"><span class="t_n1">Starting Quick Guide</span><span class="t_n2">Transparency, peer audit and crowdsourced vulnerability reporting are the future.</span></div></div>
<div class="innerblock" style="background-image:url({{ site.url }}{{ site.baseurl }}assets/style/img/book-2.svg);"><div class="info"><span class="t_n1">Most Common Questions</span><span class="t_n2">Transparency, peer audit and crowdsourced vulnerability reporting are the future.</span></div></div>
</div>

<!-- 
<span class="t_h1">Feature Articles</span>
<span class="t_h2">Free SSL for IoT (like Let's Encrypt) Credential Management for IoT (Vault for IoT)</span> 

<div class="white_shadow_block docs_full_menu">

<div class="section"><span class="t_c1">Getting Started</span>
<div class="container"><a class="title" href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Section and outlines in HTML5</a><span class="t_c2">A look at the new outlining and sectioning elements in HTML5: &lsaquo;section&rsaquo;, &lsaquo;article&rsaquo;, &lsaquo;nav&rsaquo;, &lsaquo;header&rsaquo;, &lsaquo;footer&rsaquo; and &lsaquo;aside&rsaquo;</span></div>
<div class="container"><a class="title" href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Section and outlines in HTML5</a><span class="t_c2">A look at the new outlining and sectioning elements in HTML5: &lsaquo;section&rsaquo;, &lsaquo;article&rsaquo;, &lsaquo;nav&rsaquo;, &lsaquo;header&rsaquo;, &lsaquo;footer&rsaquo; and &lsaquo;aside&rsaquo;</span></div>
<div class="container"><a class="title" href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Section and outlines in HTML5</a><span class="t_c2">A look at the new outlining and sectioning elements in HTML5: &lsaquo;section&rsaquo;, &lsaquo;article&rsaquo;, &lsaquo;nav&rsaquo;, &lsaquo;header&rsaquo;, &lsaquo;footer&rsaquo; and &lsaquo;aside&rsaquo;</span></div>
<div class="container"><a class="title" href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Section and outlines in HTML5</a><span class="t_c2">A look at the new outlining and sectioning elements in HTML5: &lsaquo;section&rsaquo;, &lsaquo;article&rsaquo;, &lsaquo;nav&rsaquo;, &lsaquo;header&rsaquo;, &lsaquo;footer&rsaquo; and &lsaquo;aside&rsaquo;</span></div>
<div class="container"><a class="title" href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Section and outlines in HTML5</a><span class="t_c2">A look at the new outlining and sectioning elements in HTML5: &lsaquo;section&rsaquo;, &lsaquo;article&rsaquo;, &lsaquo;nav&rsaquo;, &lsaquo;header&rsaquo;, &lsaquo;footer&rsaquo; and &lsaquo;aside&rsaquo;</span></div>
<div class="container"><a class="title" href="{{ site.url }}{{ site.baseurl }}documentation/getting_started/test">Section and outlines in HTML5</a><span class="t_c2">A look at the new outlining and sectioning elements in HTML5: &lsaquo;section&rsaquo;, &lsaquo;article&rsaquo;, &lsaquo;nav&rsaquo;, &lsaquo;header&rsaquo;, &lsaquo;footer&rsaquo; and &lsaquo;aside&rsaquo;</span></div>
</div>

</div>
-->
<div class="blue_block no-top"><div class="vertical_aligner">
<span class="t_h1">Ready to make the Switch?</span>
<span class="t_h2">Automatically rotate private keys at scale so your devices continue to be secure and devices in the field get 'bricked'.</span>
<a class="button_breeze_m" href="{{ site.url }}{{ site.baseurl }}pricing">view plans</a>
</div></div>

</div>