---
layout: default
current: post
class: post-template
disqus: false
---
<div class="blog_page">
<div class="blog_info">
<span class="t_i1">{{ page.title }}</span>
<span class="t_m2">By {{ page.author }} on {{ page.date | date: '%B' }} {{ page.date | date: '%d' }}, {{ page.date | date: '%Y' }} | 0 Comments</span>
</div>
<div class="blog_image" style="background-image:url({{ site.url }}{{ site.baseurl }}assets/images/blogcover/full/{{ page.cover }});"></div><div class="blog_image_bg"></div>
{% if page.tags %}<div class="blog_tags">{% for tag in page.tags limit:6%}<a href="">{{ tag }}</a>{% endfor %}</div>{% endif %}

<div class="social_network">
<div class="title_b">share</div>
<ul>

<li style="background-image:url({{ site.url }}{{ site.baseurl }}assets/style/img/sn/facebook.png);"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url | remove_first: '/' }}" title=""></a></li>
<li style="background-image:url({{ site.url }}{{ site.baseurl }}assets/style/img/sn/twitter.png);"><a target="_blank" href="https://twitter.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url | remove_first: '/' }}&text={{ page.title }}" title=""></a></li>
<li style="background-image:url({{ site.url }}{{ site.baseurl }}assets/style/img/sn/send.png);"><a target="_blank" href="mailto:?subject={{ page.title }}&body={{ site.baseurl }}{{ page.url | remove_first: '/' }}" title=""></a></li>
<li style="background-image:url({{ site.url }}{{ site.baseurl }}assets/style/img/sn/pinterest.png);"><a target="_blank" href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ site.baseurl }}{{ page.url | remove_first: '/' }}&media={{ site.url }}{{ site.baseurl }}assets/images/blogcover/full/{{ page.cover }}&description={% if page.description %} {{ page.description | strip_html | truncatewords: 52 }} {% else %} {{ page.content | strip_html | truncatewords: 52 }} {% endif %}" title=""></a></li>
<li style="background-image:url({{ site.url }}{{ site.baseurl }}assets/style/img/sn/linkedin.png);"><a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url | remove_first: '/' }}&title={{ page.title }}" title=""></a></li>
</ul>
<div class="arrow_b"></div>
</div>

<div class="blog_content content_info_block">
{{ content }}
</div>
<div class="related_articles">
<span class="t_i1">Related articles</span>
<div class="blog_posts"><div class="post_mini-blocks">
{% for post in site.posts limit:3 %}
{% include related-list-item.html %}
{% endfor %}
</div>
</div>
</div>

</div>
